html {
  height: 100%;
  width: 100%;
  body {
    /* background-color: #76a9e0; */
    background-image: url("https://cdn.pixabay.com/photo/2015/11/19/21/10/glasses-1052010_640.jpg");
    background-color: #017199;
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .center {
    margin: auto;
    margin-top: 200px;
  }

  #header {
    font-family: 'Righteous', sans-serif;
    font-size: 3rem;
  }

  h2 {
    font-family: 'Righteous', sans-serif;
  }

  .book-list {
    margin-top: 50px;
    visibility: hidden;
  }

}
